@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'M PLUS Rounded 1c', 'Avenir Next', Helvetica, sans-serif;
}

.container{
    width: 400px;
    height: 750px;
    border: 2px solid black;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background-color: #6df9e5;
    justify-content: flex-end;
    border-radius: 20px;

}

.wrapper{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.wrapper-inside{
    width: 430px;
    /* border: 2px solid black; */
    /* padding: 15px; */
    display: flex;
    gap: 15px;
    overflow-x: auto;
    position: relative;
}


.item{
    background-color: #9ffcfc;
    min-width: 110px;
    height: 150px;
    border-radius: 10px;
}

img{
    width: 20px;
    height: 20px;
}

button{
    background: none;
    border: none;
    margin: 5px;

}

.wrapper-inside::-webkit-scrollbar{
    -webkit-appearance: none;
}

h3{
   text-align: center;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item img{
    width: 60px;
    height: 60px;
}
