<h1>Component Communication</h1>
<h1>this is "app-companent" [Parent Component]</h1>
<div>there is a variable in parent companent ts file with name "variable_in_parent_component" and it's value is {{variable_in_parent_component}}</div>
<div class="parentComponent">
    <h1>Parent component</h1>
    <h3>data passing from parent component to child component enter the data in the input field below and see the output in child component</h3>
    <input type="text" [(ngModel)]="p_component_input">
    <p>The input value from child component is :{{dateFromChildComponent}}</p>
</div>
<h1>this is "header-companent" [Child Component to app component]</h1>
<app-header (sendMeaasgeFromChild)="receiveMessage($event)" [child_component]="variable_in_parent_component" [c_names]="p_names" [c_movie]="p_movie" [c_component_output]="p_component_input"></app-header>

<app-parent></app-parent>
<h1>Routing</h1>
<!-- nav bar for routing -->
<div class="Routing_Components">
    <div> <a [routerLink]="['/add']" routerLinkActive="R_Active">addition</a></div>
    <div> <a [routerLink]="['/sub']" routerLinkActive="R_Active">subtraction</a></div>
    <div> <a [routerLink]="['/mul']" routerLinkActive="R_Active">multiplication</a></div>
</div>
<router-outlet></router-outlet>
<!-- the below syntax is very important syntax for named router outlets -->
<a [routerLink]="[{outlets:{rout1:['courses']}}]">Click to view the courses</a>
<router-outlet name="rout1"></router-outlet>

<h2>ng-template</h2>
<div *ngIf="login;else temp" class="login">you have successfully logged in</div>
<!--testing -->
<!--testing 2-->
<ng-template class="login" #temp>Invalid Details</ng-template>

<app-forms></app-forms>
