.addComponent{
    margin-top: 10px;
    width: 75%;
    height: 300px;
    background-color: #c3a9ff;
}

.content{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
    gap: 50px;
    align-items: center;
}

.content button{
    width: 50px;
}