<!--<p>app-component-works!</p>-->

<div class="container mt-5">
  <div class="form-group row">
    <div class="col-md-8">
      <label for="no_floor">enter the number of floors</label>
      <div class="line">
        <input class="form-control" name="no_floor" id="no_floor" type="number" #floorinput placeholder="0">
        <button type="button" class="btn btn-primary ms-2" (click)="createFloors(floorinput)">enter</button>
      </div>
    </div>
  </div>
  <div>
    <br>
    <div>no of floors:{{floor}}</div>
    <div class="mt-3">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">floor number</th>
          <th scope="col">1 sharing</th>
          <th scope="col">2 sharing</th>
          <th scope="col">3 sharing</th>
          <th scope="col">4 sharing</th>
        </tr>
        </thead>
        <tbody *ngIf="floor>0">
        <tr *ngFor="let floor of totalFloors">
          <th scope="row">floor {{floor}}</th>
          <td><input class="form-control " name="no_floor" id="{{floor}}" type="number"  placeholder="0"></td>
          <td><input class="form-control" name="no_floor" id="{{floor}}" type="number"  placeholder="0"></td>
          <td><input class="form-control" name="no_floor" id="{{floor}}" type="number"  placeholder="0"></td>
          <td><input class="form-control" name="no_floor" id="{{floor}}" type="number"  placeholder="0"></td>
        </tr>
        </tbody>
      </table>
    </div>










<app-create-employee></app-create-employee>
