@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ededed;
    overflow: hidden;
    font-family: 'M PLUS Rounded 1c', 'Avenir Next', Helvetica, sans-serif;
}

.main{
    width: 350px;
    height: 600px;
    /* border: 2px solid black; */
    /* border: 2px solid black; */
    margin: 30px auto;
    border-radius: 15px;
    background-color: #f0f0f0;
    /* background-color: white; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.Mainupper {
    height: 230px;
    border: 2px solid #121212;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 13px 13px 10px 10px;
}

.upper {
    /* border: 2px solid green; */
    height: 150px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.input{
    /* border: 2px solid white; */
    color: white;
    text-align: right;
}

.result{
    color: #a060fa;
    text-align: right;
}

.button{
    border: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    /* margin-left: 10px;*/
    margin-bottom: 25px; 
    font-family: 'M PLUS Rounded 1c', 'Avenir Next', Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    box-shadow: inset 5px 5px 12px #ffffff,5px 5px 12px rgba(0,0,0,.16)
}

.lower{
    /* border: 2px solid red; */
    padding: 10px;
    margin-top: 15px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    /* justify-content: center;
    align-content: center; */
    place-items: center;
}

